body {
    background-color: rgb(245,245,245);
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.head {
    background-color: rgb(95,109,146);
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    max-height: 50px;
    align-items: center;
    justify-content: space-around;
}

.footer {
    color: rgb(95,109,146);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: grey;
    transition: all 0.2s;
}

.footer a:hover {
    color: rgb(95,109,146); 
}

.logo:hover {
    cursor: pointer;
}

.login-btn:hover, .cart-shop:hover {
    cursor: pointer;
}

.navigation_panel {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.navigation_panel li {
    margin-right: 10px;
    transition: all 0.2s;
}

.navigation_panel li:hover {
    cursor: pointer;
    color: rgb(95,109,146);
}